<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a bike</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

</head>
<body>
<div th:include="components/navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-3">

            <div class="form-group">
                <div class="col-sm-offset-2">
                    <h1>Add a bike</h1>
                </div>
            </div>

            <form th:action="@{/add-bike}" method="post" class="form-horizontal">

                <div class="form-group">
                    <label class="col-md-2 control-label" for="maker"> Maker: </label>
                    <div class="col-md-3">
                        <input type="text" name="maker" id="maker" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="model"> Model: </label>
                    <div class="col-md-3">
                        <input type="text" name="model" id="model" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="numInStock"> Number in stock: </label>
                    <div class="col-md-3">
                        <input type="text" name="numInStock" id="numInStock" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label" for="price"> Price (per day): </label>
                    <div class="col-md-3">
                        <input type="text" name="price" id="price" class="form-control"/>
                    </div>
                </div>

                <!--<div class="form-group" th:if="${loginError}">-->
                    <!--<div class="col-sm-offset-2 col-sm-3">-->
                        <!--<div class="alert alert-danger">-->
                            <!--<p class="error">Wrong username or password</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-primary" value="Add"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</footer>
</body>
</html>